*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}
.parent {
        display: flex;
        justify-content: space-around;
        margin-block: 100px;
}
div{
    display: grid;
}